/********************************* Variables ************************************/
$font-stack: Helvetica, sans-serif;
$white: #FFF;
$bgcolor: #fbfbfb;
$black: #0a0a0a;
$gray: #333;
$gray-lighter: #cacaca;
$gray-transp: rgba(0,0,0,0.3);
$light-gray: #AAA;
$green-darker: #1B9E89;
$green: #1CAF9A;
$green-lighter: #e1faea;
$red: #DA0000;
$red-light: #f7e4e1;
$blue-darker: #5A6A7A;
$blue: #1779ba;
$blue-lighter:#7E90A8;
$blue-light: #d7ecfa;
$yellow-light: #fff3d9;
$greyGradient: 45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) .5em,rgba(0, 0, 0, 0.05) .5em,rgba(0, 0, 0, 0.05) 1em;

/********************************* Mixins ************************************/
@mixin rep-linear-grad($property, $expression) {
  #{$property}: -webkit-repeating-linear-gradient(#{$expression});
  #{$property}: -moz-repeating-linear-gradient(#{$expression});
  #{$property}: -o-repeating-linear-gradient(#{$expression});
  #{$property}: repeating-linear-gradient(#{$expression});
}
/********************************* Styles ************************************/
* {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  box-sizing: border-box;
  outline: none;
}
[type=text], [type=email], [type=number],
[type=tel], textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: .5rem;
  border: 1px solid $gray-lighter;
  border-radius: 0;
  background-color: $bgcolor;
  box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  -webkit-appearance: none;
  &:hover, &:focus {
    border: 1px solid $light-gray;
    box-shadow: 0 0 5px $gray-lighter;
    transition: box-shadow .5s,border-color .25s ease-in-out;
  }
}
.input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
}
.input-group-label{
  padding: 0 1rem;
  border: 1px solid $gray-lighter;
  background: $bgcolor;
  color: #0a0a0a;
  white-space: nowrap;
  width: 1%;
  height: 100%;
}
.input-group-button, .input-group-button a,
.input-group-button button, .input-group-button input,
.input-group-button label, .input-group-field, .input-group-label {
  margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}
.input-group-field {
  border-radius: 0;
  height: 2.5rem;
}
body,html {
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $bgcolor;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
.clear {
  clear:both;
}
.app {
  visibility: hidden;
}
.nojs {
  width: 100%;
  text-align: center;
}
.app__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
  text-align: center;
  background-color: $red;
  margin: 0;
  padding: .3em 0;
  text-rendering: optimizeLegibility;
}
.app__button-plus {
  background-color: $green;
  border: .07em solid $green-darker;
  color: $white;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0;
  margin: 0;
  cursor: pointer;
}
.app__view {
  position: absolute;
  width: 100%;
  padding: 0 1%;
  &--main {
    line-height: 1.6;
    left: 0;
    margin: 0;
  }
  &--edit {
    left: 100%;
    .button {
      display: block;
      width: 33.3333333%;
      float: left;
    }
  }
  .button {
    vertical-align: middle;
    margin: 0 0 .3rem;
    padding: .85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-size: .9rem;
    line-height: 1;
    cursor: pointer;
    background-color: $blue;
    border: .07em solid darken($blue, 5%);
    color: $white;
    &:hover {
      background-color: darken($blue, 5%);
    }
    &.success {
      background-color: $green;
      border: .07em solid $green-darker;
      &:hover {
        background-color: $green-darker;
      }
    }
    &.alert {
      background-color: darken($red-light, 30%);
      border: .07em solid darken($red-light, 35%);
      &:hover {
        background-color: darken($red-light, 35%);
      }
    }

    &.expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.list-item {

  &__name {
    display: block;
    padding: .5em;
    background-color: $light-gray;
    cursor: pointer;
    margin-bottom: .3em;
    &:hover{
      background-color: $gray-lighter;
    }
  }

  &__content {
    background-color: darken($blue-darker,10%);
    width: 100%;
    margin: 0;
    td, th {
      padding: .5rem .625rem .625rem;
      text-align: center;
    }
    th {
      background-color: $blue-darker;
      color: $white;
    }
    .grades {
      background: $bgcolor;
    }
  }
  &__status {
    margin: 0;
  }
}

.edit-item {

  &__name {
    display: block;
    padding: .5em;
    background-color: lighten($blue-darker,40%);
    border-bottom: .05em solid darken($blue-darker,10%);
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  &__content {
    margin: 0;
    .collapse {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      .small-2 {
        width: 3rem;
        background-color: $light-gray;
        border: .07em solid $gray-lighter;
        text-align: center;
        display: block;
        padding: .5rem;
      }
      .small-10 {
        width: calc(100% - 3rem);
        margin: 0;
      }
    }
  }
}
#messages {
  position: fixed;
  bottom:0;
  width: 98%;
  margin: 0 1%;
  .close {
    position: absolute;
    right: 0;
    top: 0;
    background: $gray-transp;
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: .7em;
    line-height: 2em;
    cursor: pointer;
  }
}
.callout {
  margin: 0;
  position: relative;
  padding: 1rem;
  border: 1px solid rgba(10,10,10,.25);
  border-radius: 0;
  background-color: $white;
  color: $black;
  &.success {
    background-color: $green-lighter;
  }
  &.primary {
    background-color: $blue-light;
  }
  &.warning {
    background-color: $yellow-light;
  }
  &.alert {
    background-color: $red-light;
  }
}
.projected {
  font-weight: bold;
  background-color: $light-gray;
  @include rep-linear-grad('background', $greyGradient);
}