@import '../../bower_components/foundation-sites/assets/foundation';
/********************************* Variables ************************************/
$font-stack: Helvetica, sans-serif;
$white: #FFF;
$bgcolor: #fbfbfb;
$gray: #333;
$gray-lighter: #cacaca;
$light-gray: #AAA;
$green: #1CAF9A;
$green-darker: #1B9E89;
$red: #DA0000;
$blue: #5A6A7A;
$blue-lighter:#7E90A8;
$greyGradient: 45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 10px,rgba(0, 0, 0, 0.05) 10px,rgba(0, 0, 0, 0.05) 20px;

/********************************* Mixins ************************************/
@mixin rep-linear-grad($property, $expression) {
  #{$property}: -webkit-repeating-linear-gradient(#{$expression});
  #{$property}: -moz-repeating-linear-gradient(#{$expression});
  #{$property}: -o-repeating-linear-gradient(#{$expression});
  #{$property}: repeating-linear-gradient(#{$expression});
}
/********************************* Variables ************************************/
* {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
body,html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $bgcolor;
  position: relative;
}
.clear {
  clear:both;
}
.app__title {
  font-weight: bold;
  color: $white;
  text-align: center;
  background-color: $red;
  margin: 0;
}
.app__button-plus {
  background-color: $green;
  border: 1px solid $green-darker;
  color: $white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 0;
  margin: 0;
  cursor: pointer;
}
.app__view {
  position: absolute;
  width: 100%;
  padding: 0 1%;
  &--main {
    left: 0;
    margin: 0;
  }
  &--edit {
    left: 100%;
    .button {
      display: block;
      width: 33.3333333%;
      float: left;
    }
  }
  .button {
    margin-bottom: 5px;
    &.success {
      background-color: $green;
      border: 1px solid $green-darker;
      color: $white;
      &:hover {
        background-color: $green-darker;
      }
    }
  }
  ul {
    list-style: none;
  }
  .prefix {
    background-color: $light-gray;
    border: 1px solid $gray-lighter;
    height: 2.4375rem;
    text-align: center;
    display: block;
    padding: .5rem;
    line-height: 1.5;
  }
}

.list-item {

  &__name {
    display: block;
    padding: 10px;
    background-color: $light-gray;
    cursor: pointer;
    margin-bottom: 5px;
    &:hover{
      background-color: $gray-lighter;
    }
  }

  &__content {
    background-color: darken($blue,10%);
    th {
      background-color: $blue;
      color: $white;
      text-align: center;
    }
    td {
      text-align: center;
    }
  }
}

.edit-item {

  &__name {
    display: block;
    padding: 10px;
    background-color: lighten($blue,40%);
    border-bottom: 2px solid darken($blue,10%);
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__content {
    margin: 0;
  }
}
#alerts {
  position: fixed;
  bottom:0;
}
.alert {
  .close {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
.projected {
  font-weight: bold;
  background-color: $light-gray;
  @include rep-linear-grad('background', $greyGradient);
}